n8n/workflows/informe_obra_n8n_workflow.json
{
  "name": "obratec",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-obra",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1320,
        100
      ],
      "id": "333fd286-2189-4934-a87a-c1dec60838e9",
      "name": "Webhook",
      "webhookId": "dd6ab9a8-8f72-4d74-9eb1-390de7b04719"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d44880f-155d-4eba-a7ea-9afab6310de4",
              "name": "projectName",
              "value": "={{ $json.body.projectName }}",
              "type": "string"
            },
            {
              "id": "282b276b-4969-42de-8866-96e69ac5e7b7",
              "name": "date",
              "value": "={{ $json.body.date }}",
              "type": "string"
            },
            {
              "id": "2459fd91-acad-49db-b51c-9295499dc1e7",
              "name": "advance",
              "value": "={{ $json.body.advance }}",
              "type": "string"
            },
            {
              "id": "1e6cfff5-27c5-40ca-b95c-f660f6c47c13",
              "name": "observations",
              "value": "={{ $json.body.observations }}",
              "type": "string"
            },
            {
              "id": "9714886b-476f-4da2-b086-6390373ba681",
              "name": "incidences",
              "value": "={{ $json.body.incidences }}",
              "type": "string"
            },
            {
              "id": "16bc351d-bf3e-4b99-9361-55fad7dc2306",
              "name": "audioData",
              "value": "={{ $json.body.audioData }}",
              "type": "string"
            },
            {
              "id": "ce41cf48-6b21-4931-8b03-572a61d0bd82",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1100,
        100
      ],
      "id": "7f48fd9d-7c35-4091-8927-ddbf9acaf4aa",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd17a8db-6e29-4bda-8d5b-a4c4e218d8af",
              "leftValue": "={{ $json.audioData }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -920,
        100
      ],
      "id": "e7301d52-8b02-4ee3-90d1-aced3fbef44c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audioData",
        "binaryPropertyName": "audio",
        "options": {
          "fileName": "record.wav"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -700,
        280
      ],
      "id": "af7b4dd0-a25a-49e7-ab96-edbffe418d96",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {
          "language": "es"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -520,
        280
      ],
      "id": "b00bd9bb-c950-4956-93c0-2c9c101f827d",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "JygdjET20FHkZMl9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Eres jefe de obra. Devuelve SOLO un JSON con estas claves:\n  summary  → 3-4 líneas de resumen ejecutivo\n  obs      → Observaciones técnicas combinadas (texto + voz + incidencias)\nNo añadas texto fuera del JSON.\n"
            },
            {
              "content": "=Nombre del proyecto: {{ $('Edit Fields1').item.json.projectName }}\nFecha informe: {{ $('Edit Fields1').item.json.date }}\nObservaciones formulario: {{ $('Edit Fields1').item.json.observations }}\nIncidencias: {{ $('Edit Fields1').item.json.incidences }}\nTranscripción voz: {{ $json.text }}\nAvance obra: {{ $('Edit Fields1').item.json.advance }} %\n"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -300,
        280
      ],
      "id": "cc59d464-563d-4c84-889f-c7c99f93ac9d",
      "name": "OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "JygdjET20FHkZMl9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Informe Semanal de Obra</title>\n    <style>\n        /* Reset básico */\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Arial', 'Helvetica', sans-serif;\n            line-height: 1.6;\n            color: #2c3e50;\n            background: #ffffff;\n            padding: 20px;\n        }\n\n        .container {\n            max-width: 800px;\n            margin: 0 auto;\n            background: #ffffff;\n            border: 1px solid #dee2e6;\n        }\n\n        /* Header optimizado para PDF */\n        .header {\n            background: #2c3e50;\n            color: #ffffff;\n            padding: 30px;\n            text-align: left;\n            border-top: 4px solid #e74c3c;\n        }\n\n        .header h1 {\n            font-size: 2em;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: -0.5px;\n        }\n\n        .header .subtitle {\n            font-size: 1.2em;\n            opacity: 0.9;\n            font-weight: normal;\n        }\n\n        /* Content area */\n        .content {\n            padding: 30px;\n        }\n\n        /* Info grid simplificado */\n        .info-grid {\n            display: table;\n            width: 100%;\n            margin-bottom: 30px;\n            padding: 20px;\n            background: #f8f9fa;\n            border-left: 4px solid #3498db;\n        }\n\n        .info-item {\n            display: table-cell;\n            text-align: center;\n            padding: 0 15px;\n            vertical-align: top;\n        }\n\n        .info-label {\n            font-size: 0.9em;\n            color: #7f8c8d;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            margin-bottom: 5px;\n            font-weight: 600;\n            display: block;\n        }\n\n        .info-value {\n            font-size: 1.3em;\n            font-weight: 600;\n            color: #2c3e50;\n        }\n\n        /* Sections */\n        .section {\n            margin-bottom: 35px;\n            page-break-inside: avoid;\n        }\n\n        .section h2 {\n            font-size: 1.4em;\n            color: #2c3e50;\n            margin-bottom: 15px;\n            padding-bottom: 10px;\n            border-bottom: 2px solid #ecf0f1;\n            font-weight: 600;\n            position: relative;\n        }\n\n        .section h2::before {\n            content: '';\n            position: absolute;\n            bottom: -2px;\n            left: 0;\n            width: 50px;\n            height: 2px;\n            background: #3498db;\n        }\n\n        .section p {\n            font-size: 1em;\n            line-height: 1.7;\n            color: #34495e;\n            text-align: justify;\n            margin-bottom: 15px;\n        }\n\n        /* Progress bar simplificado */\n        .progress-container {\n            background: #ecf0f1;\n            border-radius: 10px;\n            padding: 3px;\n            margin: 15px 0;\n            height: 30px;\n        }\n\n        .progress-bar {\n            background: #27ae60;\n            height: 24px;\n            border-radius: 8px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            color: #ffffff;\n            font-weight: 600;\n            font-size: 0.9em;\n            min-width: 60px;\n        }\n\n        /* Observation cards */\n        .observations-grid {\n            margin-bottom: 25px;\n        }\n\n        .observation-card {\n            background: #f8f9fa;\n            padding: 20px;\n            margin-bottom: 20px;\n            border-left: 4px solid #3498db;\n            page-break-inside: avoid;\n        }\n\n        .observation-card.incidents {\n            border-left-color: #e74c3c;\n        }\n\n        .observation-card h3 {\n            color: #2c3e50;\n            font-size: 1.1em;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n\n        /* Audio section */\n        .audio-section {\n            background: #f39c12;\n            color: #ffffff;\n            padding: 20px;\n            margin: 20px 0;\n            text-align: center;\n            page-break-inside: avoid;\n        }\n\n        .audio-section h3 {\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n\n        /* Footer */\n        .footer {\n            background: #ecf0f1;\n            padding: 20px 30px;\n            text-align: center;\n            color: #7f8c8d;\n            font-size: 0.9em;\n            border-top: 1px solid #bdc3c7;\n            page-break-inside: avoid;\n        }\n\n        /* Status badges */\n        .status-badge {\n            display: inline-block;\n            padding: 5px 15px;\n            border-radius: 15px;\n            font-size: 0.9em;\n            font-weight: 600;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n        }\n\n        .status-on-time {\n            background: #d5edda;\n            color: #155724;\n        }\n\n        .status-delayed {\n            background: #f8d7da;\n            color: #721c24;\n        }\n\n        .status-ahead {\n            background: #d1ecf1;\n            color: #0c5460;\n        }\n\n        /* Print specific styles */\n        @media print {\n            body {\n                background: white;\n                padding: 0;\n            }\n            \n            .container {\n                border: none;\n                box-shadow: none;\n            }\n            \n            .section {\n                page-break-inside: avoid;\n            }\n            \n            .observation-card {\n                page-break-inside: avoid;\n            }\n\n            .audio-section {\n                page-break-inside: avoid;\n            }\n\n            .footer {\n                page-break-inside: avoid;\n            }\n        }\n\n        /* Responsive para pantallas pequeñas */\n        @media (max-width: 768px) {\n            body {\n                padding: 10px;\n            }\n            \n            .header, .content {\n                padding: 15px;\n            }\n            \n            .info-grid {\n                display: block;\n            }\n            \n            .info-item {\n                display: block;\n                text-align: center;\n                margin-bottom: 15px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>📋 Informe Semanal de Obra</h1>\n            <div class=\"subtitle\">{{ $('Webhook').item.json.body.projectName || 'Proyecto de Construcción'}}</div>\n        </div>\n\n        <div class=\"content\">\n            <div class=\"info-grid\">\n                <div class=\"info-item\">\n                    <div class=\"info-label\">Fecha del Informe</div>\n                    <div class=\"info-value\">{{ $('Webhook').item.json.body.date || 'DD/MM/AAAA'}}</div>\n                </div>\n                <div class=\"info-item\">\n                    <div class=\"info-label\">Avance General</div>\n                    <div class=\"info-value\">{{ $('Webhook').item.json.body.advance || '0'}}%</div>\n                </div>\n                <div class=\"info-item\">\n                    <div class=\"info-label\">Estado</div>\n                    <div class=\"info-value\">\n                        <span class=\"status-badge status-on-time\">✅ En Plazo</span>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"section\">\n                <h2>📊 Progreso del Proyecto</h2>\n                <p>El avance actual del proyecto <strong>{{ $('Webhook').item.json.body.projectName }}</strong> se encuentra en un <strong>{{ $('Webhook').item.json.body.advance || '0'}}%</strong> de completitud según el cronograma establecido.</p>\n                <div class=\"progress-container\">\n                    <div class=\"progress-bar\" style=\"width: {{ $('Webhook').item.json.body.advance || '0'}}%;\">\n                        {{ $('Webhook').item.json.body.advance || '0'}}%\n                    </div>\n                </div>\n                <p><em>Última actualización: {{ $('Webhook').item.json.body.date }}</em></p>\n            </div>\n\n            <div class=\"observations-grid\">\n                <div class=\"observation-card\">\n                    <h3>📝 Observaciones Generales</h3>\n                    <div class=\"section\">\n                        <p>{{ $('Webhook').item.json.body.observations || 'No se han registrado observaciones para este período.'}}</p>\n                    </div>\n                </div>\n\n                <div class=\"observation-card incidents\">\n                    <h3>⚠️ Incidencias y Problemas</h3>\n                    <div class=\"section\">\n                        <p>{{ $('Webhook').item.json.body.incidences || 'No se han registrado incidencias durante este período.'}}</p>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"section\">\n                <h2>📋 Resumen Ejecutivo</h2>\n                <p>{{$('Webhook').item.json.body.observations && $('Webhook').item.json.body.incidences }}  </p>           \n            </div>\n        </div>\n\n        <div class=\"footer\">\n            <p>📄 Documento generado automáticamente el {{ $('Webhook').item.json.body.date }}  | Sistema de Informes de Obra v2.0 | Confidencial</p>\n        </div>\n    </div>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "02160255-c16c-497a-8fab-ef6616d18a5f",
      "name": "HTML1"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Informe Semanal de Obra</title>\n    <style>\n        /* Reset básico */\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Arial', 'Helvetica', sans-serif;\n            line-height: 1.6;\n            color: #2c3e50;\n            background: #ffffff;\n            padding: 20px;\n        }\n\n        .container {\n            max-width: 800px;\n            margin: 0 auto;\n            background: #ffffff;\n            border: 1px solid #dee2e6;\n        }\n\n        /* Header optimizado para PDF */\n        .header {\n            background: #2c3e50;\n            color: #ffffff;\n            padding: 30px;\n            text-align: left;\n            border-top: 4px solid #e74c3c;\n        }\n\n        .header h1 {\n            font-size: 2em;\n            font-weight: bold;\n            margin-bottom: 10px;\n            letter-spacing: -0.5px;\n        }\n\n        .header .subtitle {\n            font-size: 1.2em;\n            opacity: 0.9;\n            font-weight: normal;\n        }\n\n        /* Content area */\n        .content {\n            padding: 30px;\n        }\n\n        /* Info grid simplificado */\n        .info-grid {\n            display: table;\n            width: 100%;\n            margin-bottom: 30px;\n            padding: 20px;\n            background: #f8f9fa;\n            border-left: 4px solid #3498db;\n        }\n\n        .info-item {\n            display: table-cell;\n            text-align: center;\n            padding: 0 15px;\n            vertical-align: top;\n        }\n\n        .info-label {\n            font-size: 0.9em;\n            color: #7f8c8d;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            margin-bottom: 5px;\n            font-weight: 600;\n            display: block;\n        }\n\n        .info-value {\n            font-size: 1.3em;\n            font-weight: 600;\n            color: #2c3e50;\n        }\n\n        /* Sections */\n        .section {\n            margin-bottom: 35px;\n            page-break-inside: avoid;\n        }\n\n        .section h2 {\n            font-size: 1.4em;\n            color: #2c3e50;\n            margin-bottom: 15px;\n            padding-bottom: 10px;\n            border-bottom: 2px solid #ecf0f1;\n            font-weight: 600;\n            position: relative;\n        }\n\n        .section h2::before {\n            content: '';\n            position: absolute;\n            bottom: -2px;\n            left: 0;\n            width: 50px;\n            height: 2px;\n            background: #3498db;\n        }\n\n        .section p {\n            font-size: 1em;\n            line-height: 1.7;\n            color: #34495e;\n            text-align: justify;\n            margin-bottom: 15px;\n        }\n\n        /* Progress bar simplificado */\n        .progress-container {\n            background: #ecf0f1;\n            border-radius: 10px;\n            padding: 3px;\n            margin: 15px 0;\n            height: 30px;\n        }\n\n        .progress-bar {\n            background: #27ae60;\n            height: 24px;\n            border-radius: 8px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            color: #ffffff;\n            font-weight: 600;\n            font-size: 0.9em;\n            min-width: 60px;\n        }\n\n        /* Observation cards */\n        .observations-grid {\n            margin-bottom: 25px;\n        }\n\n        .observation-card {\n            background: #f8f9fa;\n            padding: 20px;\n            margin-bottom: 20px;\n            border-left: 4px solid #3498db;\n            page-break-inside: avoid;\n        }\n\n        .observation-card.incidents {\n            border-left-color: #e74c3c;\n        }\n\n        .observation-card h3 {\n            color: #2c3e50;\n            font-size: 1.1em;\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n\n        /* Audio section */\n        .audio-section {\n            background: #f39c12;\n            color: #ffffff;\n            padding: 20px;\n            margin: 20px 0;\n            text-align: center;\n            page-break-inside: avoid;\n        }\n\n        .audio-section h3 {\n            margin-bottom: 10px;\n            font-weight: 600;\n        }\n\n        /* Footer */\n        .footer {\n            background: #ecf0f1;\n            padding: 20px 30px;\n            text-align: center;\n            color: #7f8c8d;\n            font-size: 0.9em;\n            border-top: 1px solid #bdc3c7;\n            page-break-inside: avoid;\n        }\n\n        /* Status badges */\n        .status-badge {\n            display: inline-block;\n            padding: 5px 15px;\n            border-radius: 15px;\n            font-size: 0.9em;\n            font-weight: 600;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n        }\n\n        .status-on-time {\n            background: #d5edda;\n            color: #155724;\n        }\n\n        .status-delayed {\n            background: #f8d7da;\n            color: #721c24;\n        }\n\n        .status-ahead {\n            background: #d1ecf1;\n            color: #0c5460;\n        }\n\n        /* Print specific styles */\n        @media print {\n            body {\n                background: white;\n                padding: 0;\n            }\n            \n            .container {\n                border: none;\n                box-shadow: none;\n            }\n            \n            .section {\n                page-break-inside: avoid;\n            }\n            \n            .observation-card {\n                page-break-inside: avoid;\n            }\n\n            .audio-section {\n                page-break-inside: avoid;\n            }\n\n            .footer {\n                page-break-inside: avoid;\n            }\n        }\n\n        /* Responsive para pantallas pequeñas */\n        @media (max-width: 768px) {\n            body {\n                padding: 10px;\n            }\n            \n            .header, .content {\n                padding: 15px;\n            }\n            \n            .info-grid {\n                display: block;\n            }\n            \n            .info-item {\n                display: block;\n                text-align: center;\n                margin-bottom: 15px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>📋 Informe Semanal de Obra</h1>\n            <div class=\"subtitle\">{{ $('Webhook').item.json.body.projectName || 'Proyecto de Construcción'}}</div>\n        </div>\n\n        <div class=\"content\">\n            <div class=\"info-grid\">\n                <div class=\"info-item\">\n                    <div class=\"info-label\">Fecha del Informe</div>\n                    <div class=\"info-value\">{{ $('Webhook').item.json.body.date || 'DD/MM/AAAA'}}</div>\n                </div>\n                <div class=\"info-item\">\n                    <div class=\"info-label\">Avance General</div>\n                    <div class=\"info-value\">{{ $('Webhook').item.json.body.advance || '0'}}%</div>\n                </div>\n                <div class=\"info-item\">\n                    <div class=\"info-label\">Estado</div>\n                    <div class=\"info-value\">\n                        <span class=\"status-badge status-on-time\">✅ En Plazo</span>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"section\">\n                <h2>📊 Progreso del Proyecto</h2>\n                <p>El avance actual del proyecto <strong>{{ $('Webhook').item.json.body.projectName }}</strong> se encuentra en un <strong>{{ $('Webhook').item.json.body.advance || '0'}}%</strong> de completitud según el cronograma establecido.</p>\n                <div class=\"progress-container\">\n                    <div class=\"progress-bar\" style=\"width: {{ $('Webhook').item.json.body.advance || '0'}}%;\">\n                        {{ $('Webhook').item.json.body.advance || '0'}}%\n                    </div>\n                </div>\n                <p><em>Última actualización: {{ $('Webhook').item.json.body.date }}</em></p>\n            </div>\n\n            <div class=\"observations-grid\">\n                <div class=\"observation-card\">\n                    <h3>📝 Observaciones Generales</h3>\n                    <div class=\"section\">\n                        <p>{{ $json.choices[0].message.content.obs || 'No se han registrado observaciones para este período.'}}</p>\n                    </div>\n                </div>\n\n                <div class=\"observation-card incidents\">\n                    <h3>⚠️ Incidencias y Problemas</h3>\n                    <div class=\"section\">\n                        <p>{{ $('Webhook').item.json.body.incidences || 'No se han registrado incidencias durante este período.'}}</p>\n                    </div>\n                </div>\n            </div>\n\n            <!-- Sección de audio (condicional) -->\n            <div class=\"audio-section\">\n                <h3>🎙️ Observaciones</h3>\n                <p>{{ $json.choices[0].message.content.obs }}</p>\n            </div>\n\n            <div class=\"section\">\n                <h2>📋 Resumen Ejecutivo</h2>\n                <p>{{ $json.choices[0].message.content.summary }}</p>           \n            </div>\n        </div>\n\n        <div class=\"footer\">\n            <p>📄 Documento generado automáticamente el {{ $('Webhook').item.json.body.date }} | Sistema de Informes de Obra v2.0 | Confidencial</p>\n        </div>\n    </div>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        40,
        280
      ],
      "id": "21a94744-5bc2-48e9-b04f-dfccd933c8d8",
      "name": "HTML2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html",
        "options": {
          "encoding": "utf8",
          "fileName": "index.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        260,
        0
      ],
      "id": "ad772798-a2ce-4645-8fba-d6c86e0544e0",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html",
        "options": {
          "encoding": "utf8",
          "fileName": "index.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        260,
        280
      ],
      "id": "73ac3b77-bf5b-454c-a09c-24e39291a76d",
      "name": "Convert to File4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Gotenberg-PrintBackground\t",
              "value": "1"
            },
            {
              "name": "Gotenberg-WaitTimeout",
              "value": "1000"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "index.html",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "id": "c98c730b-b816-49ba-8198-6880e9c94b2c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=📄Informe  {{ $('Webhook').item.json.body.projectName }} - {{ $('Webhook').item.json.body.date }}",
        "message": "=<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        background-color: #f4f6f8;\n        padding: 20px;\n        color: #333;\n      }\n      .container {\n        background-color: #ffffff;\n        border-radius: 8px;\n        padding: 20px;\n        border: 1px solid #ddd;\n        max-width: 600px;\n        margin: auto;\n      }\n      h2 {\n        color: #2c3e50;\n      }\n      p {\n        font-size: 16px;\n        line-height: 1.5;\n      }\n      .footer {\n        margin-top: 20px;\n        font-size: 12px;\n        color: #777;\n        text-align: center;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h2>📄 Informe {{ $('Webhook').item.json.body.projectName }} adjunto con fecha de {{ $('Webhook').item.json.body.date }}</h2>\n      <p>\n        Hola,<br /><br />\n        Aquí tiene el <strong>informe semanal de obra</strong>.\n        Ya se encuentra registrado en el sistema y estará disponible para revisión por parte del equipo técnico y dirección facultativa.\n        <br><p>Puedes acceder al informe desde este enlace:</p>\n        <p><a href=\"{{ $json.webContentLink }}\" target=\"_blank\">Ver informe en Google Drive</a></p>\n      </p>\n      <p>\n        Si necesitas hacer alguna modificación o enviar información adicional, no dudes en responder a este mensaje.\n      </p>\n      <p>Gracias por tu colaboración.</p>\n\n      <div class=\"footer\">\n        Este mensaje ha sido generado automáticamente por el sistema de informes de obra.\n      </div>\n    </div>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        700,
        0
      ],
      "id": "ecefbd36-e8b9-463e-bb5a-610d5456a222",
      "name": "Gmail",
      "webhookId": "99fd5e57-955a-4a90-8848-bd95a678e7f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "N0yr0cMrZwNMxMYS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Gotenberg-PrintBackground\t",
              "value": "1"
            },
            {
              "name": "Gotenberg-WaitTimeout",
              "value": "1000"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "index.html",
              "inputDataFieldName": "data"
            },
            {
              "name": "paperWidth",
              "value": "8.27"
            },
            {
              "name": "paperHeight",
              "value": "11.7"
            },
            {
              "name": "marginTop",
              "value": "0.39"
            },
            {
              "name": "marginBottom",
              "value": "0.39"
            },
            {
              "name": "marginLeft",
              "value": "0.39"
            },
            {
              "name": "marginRight",
              "value": "0.39"
            },
            {
              "name": "preferCSSPageSize",
              "value": "false"
            },
            {
              "name": "printBackground",
              "value": "true"
            },
            {
              "name": "landscape",
              "value": "false"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        280
      ],
      "id": "9142e57a-c825-4de4-a75a-929f7271643f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=📄Informe  {{ $('Webhook').item.json.body.projectName }} - {{ $('Webhook').item.json.body.date }}",
        "message": "=<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        background-color: #f4f6f8;\n        padding: 20px;\n        color: #333;\n      }\n      .container {\n        background-color: #ffffff;\n        border-radius: 8px;\n        padding: 20px;\n        border: 1px solid #ddd;\n        max-width: 600px;\n        margin: auto;\n      }\n      h2 {\n        color: #2c3e50;\n      }\n      p {\n        font-size: 16px;\n        line-height: 1.5;\n      }\n      .footer {\n        margin-top: 20px;\n        font-size: 12px;\n        color: #777;\n        text-align: center;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h2>📄 Informe {{ $('Webhook').item.json.body.projectName }} adjunto con fecha de {{ $('Webhook').item.json.body.date }}</h2>\n      <p>\n        Hola,<br /><br />\n        Aquí tiene el <strong>informe semanal de obra</strong>.\n        Ya se encuentra registrado en el sistema y estará disponible para revisión por parte del equipo técnico y dirección facultativa.\n        <br><p>Puedes acceder al informe desde este enlace:</p>\n        <p><a href=\"{{ $json.webContentLink }}\" target=\"_blank\">Ver informe en Google Drive</a></p>\n      </p>\n      <p>\n        Si necesitas hacer alguna modificación o enviar información adicional, no dudes en responder a este mensaje.\n      </p>\n      <p>Gracias por tu colaboración.</p>\n\n      <div class=\"footer\">\n        Este mensaje ha sido generado automáticamente por el sistema de informes de obra.\n      </div>\n    </div>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        700,
        280
      ],
      "id": "05beca21-e405-4885-96b9-f29bb29d2695",
      "name": "Gmail1",
      "webhookId": "99fd5e57-955a-4a90-8848-bd95a678e7f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "N0yr0cMrZwNMxMYS",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Convert to File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bf9a9526-0f76-4dd6-9767-b437ebe26e0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9b7150ea33d8a4e4345b5184aa085613c14f7be823c580496939e661ba9d07e"
  },
  "id": "7ntrnEvFS9I6MRQT",
  "tags": []
}