n8n/workflows/informe_obra_n8n_workflow.json
{
  "name": "obratec-informe Obra",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-obra",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1020,
        400
      ],
      "id": "b9fcc67a-14ba-4005-860c-5dd0b93473a3",
      "name": "Webhook",
      "webhookId": "dd6ab9a8-8f72-4d74-9eb1-390de7b04719"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d44880f-155d-4eba-a7ea-9afab6310de4",
              "name": "projectName",
              "value": "={{ $json.body.projectName }}",
              "type": "string"
            },
            {
              "id": "282b276b-4969-42de-8866-96e69ac5e7b7",
              "name": "date",
              "value": "={{ $json.body.date }}",
              "type": "string"
            },
            {
              "id": "2459fd91-acad-49db-b51c-9295499dc1e7",
              "name": "advance",
              "value": "={{ $json.body.advance }}",
              "type": "string"
            },
            {
              "id": "1e6cfff5-27c5-40ca-b95c-f660f6c47c13",
              "name": "observations",
              "value": "={{ $json.body.observations }}",
              "type": "string"
            },
            {
              "id": "9714886b-476f-4da2-b086-6390373ba681",
              "name": "incidences",
              "value": "={{ $json.body.incidences }}",
              "type": "string"
            },
            {
              "id": "16bc351d-bf3e-4b99-9361-55fad7dc2306",
              "name": "audioData",
              "value": "={{ $json.body.audioData }}",
              "type": "string"
            },
            {
              "id": "ce41cf48-6b21-4931-8b03-572a61d0bd82",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        400
      ],
      "id": "ddda84ba-b3fd-4cd8-8215-e1745ec9c470",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd17a8db-6e29-4bda-8d5b-a4c4e218d8af",
              "leftValue": "={{ $json.audioData }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -620,
        400
      ],
      "id": "e2139444-22f4-4a49-9119-e9162abe4dfe",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "audioData",
        "binaryPropertyName": "audio",
        "options": {
          "fileName": "record.wav"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -400,
        580
      ],
      "id": "d412fea3-276d-4770-a5de-ec9dd88d3e2e",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {
          "language": "es"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -220,
        580
      ],
      "id": "5805c182-ce93-4ab8-89bf-2976e90cbfd9",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "Ewblt2ZhxCOUhpri",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "Eres jefe de obra. Devuelve SOLO un JSON con estas claves:\n  summary  → 3-4 líneas de resumen ejecutivo\n  obs      → Observaciones técnicas combinadas (texto + voz + incidencias)\nNo añadas texto fuera del JSON.\n"
            },
            {
              "content": "=Nombre del proyecto: {{ $('Edit Fields1').item.json.projectName }}\nFecha informe: {{ $('Edit Fields1').item.json.date }}\nObservaciones formulario: {{ $('Edit Fields1').item.json.observations }}\nIncidencias: {{ $('Edit Fields1').item.json.incidences }}\nTranscripción voz: {{ $json.text }}\nAvance obra: {{ $('Edit Fields1').item.json.advance }} %\n"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        580
      ],
      "id": "49a2dab4-c6b9-4513-862a-ff41e474c71b",
      "name": "OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "Ewblt2ZhxCOUhpri",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Informe Semanal de Obra</title>\n    <style>\n        :root {\n            /* Colores principales */\n            --primary-color: #2c3e50;\n            --primary-light: #34495e;\n            --primary-dark: #1a252f;\n            \n            /* Colores de acento */\n            --accent-blue: #3498db;\n            --accent-green: #27ae60;\n            --accent-orange: #f39c12;\n            --accent-red: #e74c3c;\n            --accent-purple: #9b59b6;\n            \n            /* Gradientes */\n            --gradient-primary: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-light) 100%);\n            --gradient-accent: linear-gradient(90deg, var(--accent-red), var(--accent-orange), var(--accent-green), var(--accent-blue));\n            --gradient-progress: linear-gradient(90deg, var(--accent-green), #2ecc71);\n            --gradient-audio: linear-gradient(135deg, var(--accent-orange) 0%, #e67e22 100%);\n            --gradient-background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);\n            \n            /* Colores de texto */\n            --text-primary: #2c3e50;\n            --text-secondary: #34495e;\n            --text-muted: #7f8c8d;\n            --text-light: #95a5a6;\n            --text-white: #ffffff;\n            \n            /* Colores de fondo */\n            --bg-white: #ffffff;\n            --bg-light: #f8f9fa;\n            --bg-lighter: #ecf0f1;\n            --bg-border: #dee2e6;\n            \n            /* Estados */\n            --status-success-bg: #d5edda;\n            --status-success-text: #155724;\n            --status-warning-bg: #f8d7da;\n            --status-warning-text: #721c24;\n            --status-info-bg: #d1ecf1;\n            --status-info-text: #0c5460;\n            \n            /* Espaciado */\n            --spacing-xs: 5px;\n            --spacing-sm: 10px;\n            --spacing-md: 15px;\n            --spacing-lg: 20px;\n            --spacing-xl: 25px;\n            --spacing-xxl: 40px;\n            \n            /* Tamaños de fuente */\n            --font-xs: 0.8em;\n            --font-sm: 0.9em;\n            --font-base: 1em;\n            --font-lg: 1.1em;\n            --font-xl: 1.3em;\n            --font-xxl: 1.4em;\n            --font-hero: 2.2em;\n            \n            /* Radios de borde */\n            --radius-sm: 4px;\n            --radius-md: 8px;\n            --radius-lg: 12px;\n            --radius-xl: 20px;\n            --radius-full: 50px;\n            \n            /* Sombras */\n            --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);\n            --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.08);\n            --shadow-lg: 0 10px 30px rgba(0, 0, 0, 0.1);\n            --shadow-xl: 0 15px 35px rgba(0, 0, 0, 0.15);\n            \n            /* Transiciones */\n            --transition-fast: 0.2s ease;\n            --transition-normal: 0.3s ease;\n            --transition-slow: 0.5s ease;\n            \n            /* Anchos */\n            --container-width: 800px;\n            --border-width: 1px;\n            --border-thick: 4px;\n        }\n\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: var(--text-primary);\n            background: var(--gradient-background);\n            padding: var(--spacing-xxl) var(--spacing-lg);\n            min-height: 100vh;\n        }\n\n        .container {\n            max-width: var(--container-width);\n            margin: 0 auto;\n            background: var(--bg-white);\n            border-radius: var(--radius-lg);\n            box-shadow: var(--shadow-lg);\n            overflow: hidden;\n        }\n\n        .header {\n            background: var(--gradient-primary);\n            color: var(--text-white);\n            padding: var(--spacing-xxl) var(--spacing-xxl) 30px;\n            position: relative;\n        }\n\n        .header::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            right: 0;\n            height: var(--border-thick);\n            background: var(--gradient-accent);\n        }\n\n        .header h1 {\n            font-size: var(--font-hero);\n            font-weight: 300;\n            margin-bottom: var(--spacing-sm);\n            letter-spacing: -0.5px;\n        }\n\n        .header .subtitle {\n            font-size: var(--font-lg);\n            opacity: 0.9;\n            font-weight: 300;\n        }\n\n        .content {\n            padding: var(--spacing-xxl);\n        }\n\n        .info-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: var(--spacing-lg);\n            margin-bottom: var(--spacing-xxl);\n            padding: var(--spacing-xl);\n            background: var(--bg-light);\n            border-radius: var(--radius-md);\n            border-left: var(--border-thick) solid var(--accent-blue);\n        }\n\n        .info-item {\n            text-align: center;\n        }\n\n        .info-label {\n            font-size: var(--font-sm);\n            color: var(--text-muted);\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            margin-bottom: var(--spacing-xs);\n            font-weight: 600;\n        }\n\n        .info-value {\n            font-size: var(--font-xl);\n            font-weight: 600;\n            color: var(--text-primary);\n        }\n\n        .section {\n            margin-bottom: 35px;\n        }\n\n        .section h2 {\n            font-size: var(--font-xxl);\n            color: var(--text-primary);\n            margin-bottom: var(--spacing-md);\n            padding-bottom: var(--spacing-sm);\n            border-bottom: 2px solid var(--bg-lighter);\n            font-weight: 600;\n            position: relative;\n        }\n\n        .section h2::before {\n            content: '';\n            position: absolute;\n            bottom: -2px;\n            left: 0;\n            width: 50px;\n            height: 2px;\n            background: var(--accent-blue);\n        }\n\n        .section p {\n            font-size: var(--font-base);\n            line-height: 1.7;\n            color: var(--text-secondary);\n            text-align: justify;\n        }\n\n        .progress-container {\n            background: var(--bg-lighter);\n            border-radius: var(--radius-xl);\n            padding: var(--spacing-xs);\n            margin: var(--spacing-md) 0;\n        }\n\n        .progress-bar {\n            background: var(--gradient-progress);\n            height: var(--spacing-xl);\n            border-radius: var(--radius-lg);\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            color: var(--text-white);\n            font-weight: 600;\n            font-size: var(--font-sm);\n            transition: width var(--transition-normal);\n            width: var(--progress, 0%);\n            min-width: 60px;\n        }\n\n        .observations-grid {\n            display: grid;\n            gap: var(--spacing-lg);\n        }\n\n        .observation-card {\n            background: var(--bg-light);\n            padding: var(--spacing-lg);\n            border-radius: var(--radius-md);\n            border-left: var(--border-thick) solid var(--accent-blue);\n            transition: transform var(--transition-fast), box-shadow var(--transition-fast);\n        }\n\n        .observation-card:hover {\n            transform: translateY(-2px);\n            box-shadow: var(--shadow-md);\n        }\n\n        .observation-card.incidents {\n            border-left-color: var(--accent-red);\n        }\n\n        .observation-card h3 {\n            color: var(--text-primary);\n            font-size: var(--font-lg);\n            margin-bottom: var(--spacing-sm);\n            font-weight: 600;\n        }\n\n        .audio-section {\n            background: var(--gradient-audio);\n            color: var(--text-white);\n            padding: var(--spacing-lg);\n            border-radius: var(--radius-md);\n            margin: var(--spacing-lg) 0;\n            text-align: center;\n            box-shadow: var(--shadow-md);\n        }\n\n        .audio-section h3 {\n            margin-bottom: var(--spacing-sm);\n            font-weight: 600;\n        }\n\n        .footer {\n            background: var(--bg-lighter);\n            padding: var(--spacing-lg) var(--spacing-xxl);\n            text-align: center;\n            color: var(--text-muted);\n            font-size: var(--font-sm);\n            border-top: var(--border-width) solid #bdc3c7;\n        }\n\n        .status-badge {\n            display: inline-block;\n            padding: var(--spacing-xs) var(--spacing-md);\n            border-radius: var(--radius-lg);\n            font-size: var(--font-sm);\n            font-weight: 600;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n            transition: all var(--transition-fast);\n        }\n\n        .status-on-time {\n            background: var(--status-success-bg);\n            color: var(--status-success-text);\n        }\n\n        .status-delayed {\n            background: var(--status-warning-bg);\n            color: var(--status-warning-text);\n        }\n\n        .status-ahead {\n            background: var(--status-info-bg);\n            color: var(--status-info-text);\n        }\n\n        /* Tema oscuro (opcional) */\n        @media (prefers-color-scheme: dark) {\n            :root {\n                --text-primary: #ecf0f1;\n                --text-secondary: #bdc3c7;\n                --text-muted: #95a5a6;\n                --bg-white: #2c3e50;\n                --bg-light: #34495e;\n                --bg-lighter: #3b4a5c;\n            }\n        }\n\n        /* Responsive Design */\n        @media (max-width: 768px) {\n            :root {\n                --font-hero: 1.8em;\n                --spacing-xxl: 20px;\n                --spacing-xl: 15px;\n            }\n\n            body {\n                padding: var(--spacing-lg) var(--spacing-sm);\n            }\n            \n            .header, .content {\n                padding: var(--spacing-lg);\n            }\n            \n            .info-grid {\n                grid-template-columns: 1fr;\n                gap: var(--spacing-md);\n            }\n        }\n\n        @media (max-width: 480px) {\n            :root {\n                --font-hero: 1.6em;\n                --font-xl: 1.2em;\n            }\n        }\n\n        /* Print Styles */\n        @media print {\n            :root {\n                --shadow-lg: none;\n                --shadow-md: none;\n                --gradient-background: white;\n            }\n\n            body {\n                background: white;\n                padding: 0;\n            }\n            \n            .container {\n                box-shadow: none;\n                border-radius: 0;\n            }\n            \n            .header {\n                background: var(--primary-color) !important;\n                -webkit-print-color-adjust: exact;\n                color-adjust: exact;\n            }\n\n            .observation-card {\n                break-inside: avoid;\n            }\n        }\n\n        /* Animaciones */\n        @keyframes fadeIn {\n            from { opacity: 0; transform: translateY(20px); }\n            to { opacity: 1; transform: translateY(0); }\n        }\n\n        .section {\n            animation: fadeIn 0.6s ease-out;\n        }\n\n        /* Estados de progreso dinámicos */\n        .progress-bar[style*=\"width: 0\"] { background: var(--accent-red); }\n        .progress-bar[style*=\"width: 25\"], \n        .progress-bar[style*=\"width: 30\"], \n        .progress-bar[style*=\"width: 35\"] { background: var(--accent-orange); }\n        .progress-bar[style*=\"width: 50\"], \n        .progress-bar[style*=\"width: 60\"], \n        .progress-bar[style*=\"width: 70\"] { background: var(--accent-blue); }\n        .progress-bar[style*=\"width: 80\"], \n        .progress-bar[style*=\"width: 90\"], \n        .progress-bar[style*=\"width: 100\"] { background: var(--gradient-progress); }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>📋 Informe Semanal de Obra</h1>\n            <div class=\"subtitle\">{{ $('Webhook').item.json.body.projectName || 'Proyecto de Construcción'}}</div>\n        </div>\n\n        <div class=\"content\">\n            <div class=\"info-grid\">\n                <div class=\"info-item\">\n                    <div class=\"info-label\">Fecha del Informe</div>\n                    <div class=\"info-value\">{{ $('Webhook').item.json.body.date || 'DD/MM/AAAA'}}</div>\n                </div>\n                <div class=\"info-item\">\n                    <div class=\"info-label\">Avance General</div>\n                    <div class=\"info-value\"> {{ $('Webhook').item.json.body.advance || '0'}}%</div>\n                </div>\n                <div class=\"info-item\">\n                    <div class=\"info-label\">Estado</div>\n                    <div class=\"info-value\">\n                        <span class=\"status-badge status-on-time\">✅ En Plazo</span>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"section\">\n                <h2>📊 Progreso del Proyecto</h2>\n                <p>El avance actual del proyecto <strong>{{ $('Webhook').item.json.body.projectName }}</strong> se encuentra en un <strong>{{ $('Webhook').item.json.body.advance|| '0'}}%</strong> de completitud según el cronograma establecido.</p>\n                <div class=\"progress-container\">\n                    <div class=\"progress-bar\" style=\"--progress: {{ $('Webhook').item.json.body.advance || '0'}}%; width: {{ $('Webhook').item.json.body.advance }}'0'}}%;\">\n                        {{ $('Webhook').item.json.body.advance  || '0'}}%\n                    </div>\n                </div>\n                <p><em>Última actualización: {{ $('Webhook').item.json.body.date }}</em></p>\n            </div>\n\n            <div class=\"observations-grid\">\n                <div class=\"observation-card\">\n                    <h3>📝 Observaciones Generales</h3>\n                    <div class=\"section\">\n                        <p> {{ $('Webhook').item.json.body.observations  || 'No se han registrado observaciones para este período.'}}</p>\n                    </div>\n                </div>\n\n                <div class=\"observation-card incidents\">\n                    <h3>⚠️ Incidencias y Problemas</h3>\n                    <div class=\"section\">\n                        <p>{{ $('Webhook').item.json.body.incidences || 'No se han registrado incidencias durante este período.'}}</p>\n                    </div>\n                </div>\n            </div>\n\n\n        </div>\n\n        <div class=\"footer\">\n            <p>📄 Documento generado automáticamente el {{ $('Webhook').item.json.body.date }} | Sistema de Informes de Obra v2.0 | Confidencial</p>\n        </div>\n    </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        300,
        300
      ],
      "id": "1b97fe81-2863-451b-bdf0-cb33b7a73606",
      "name": "HTML1"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Informe Semanal de Obra</title>\n    <style>\n        :root {\n            /* Colores principales */\n            --primary-color: #2c3e50;\n            --primary-light: #34495e;\n            --primary-dark: #1a252f;\n            \n            /* Colores de acento */\n            --accent-blue: #3498db;\n            --accent-green: #27ae60;\n            --accent-orange: #f39c12;\n            --accent-red: #e74c3c;\n            --accent-purple: #9b59b6;\n            \n            /* Gradientes */\n            --gradient-primary: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-light) 100%);\n            --gradient-accent: linear-gradient(90deg, var(--accent-red), var(--accent-orange), var(--accent-green), var(--accent-blue));\n            --gradient-progress: linear-gradient(90deg, var(--accent-green), #2ecc71);\n            --gradient-audio: linear-gradient(135deg, var(--accent-orange) 0%, #e67e22 100%);\n            --gradient-background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);\n            \n            /* Colores de texto */\n            --text-primary: #2c3e50;\n            --text-secondary: #34495e;\n            --text-muted: #7f8c8d;\n            --text-light: #95a5a6;\n            --text-white: #ffffff;\n            \n            /* Colores de fondo */\n            --bg-white: #ffffff;\n            --bg-light: #f8f9fa;\n            --bg-lighter: #ecf0f1;\n            --bg-border: #dee2e6;\n            \n            /* Estados */\n            --status-success-bg: #d5edda;\n            --status-success-text: #155724;\n            --status-warning-bg: #f8d7da;\n            --status-warning-text: #721c24;\n            --status-info-bg: #d1ecf1;\n            --status-info-text: #0c5460;\n            \n            /* Espaciado */\n            --spacing-xs: 5px;\n            --spacing-sm: 10px;\n            --spacing-md: 15px;\n            --spacing-lg: 20px;\n            --spacing-xl: 25px;\n            --spacing-xxl: 40px;\n            \n            /* Tamaños de fuente */\n            --font-xs: 0.8em;\n            --font-sm: 0.9em;\n            --font-base: 1em;\n            --font-lg: 1.1em;\n            --font-xl: 1.3em;\n            --font-xxl: 1.4em;\n            --font-hero: 2.2em;\n            \n            /* Radios de borde */\n            --radius-sm: 4px;\n            --radius-md: 8px;\n            --radius-lg: 12px;\n            --radius-xl: 20px;\n            --radius-full: 50px;\n            \n            /* Sombras */\n            --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);\n            --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.08);\n            --shadow-lg: 0 10px 30px rgba(0, 0, 0, 0.1);\n            --shadow-xl: 0 15px 35px rgba(0, 0, 0, 0.15);\n            \n            /* Transiciones */\n            --transition-fast: 0.2s ease;\n            --transition-normal: 0.3s ease;\n            --transition-slow: 0.5s ease;\n            \n            /* Anchos */\n            --container-width: 800px;\n            --border-width: 1px;\n            --border-thick: 4px;\n        }\n\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: var(--text-primary);\n            background: var(--gradient-background);\n            padding: var(--spacing-xxl) var(--spacing-lg);\n            min-height: 100vh;\n        }\n\n        .container {\n            max-width: var(--container-width);\n            margin: 0 auto;\n            background: var(--bg-white);\n            border-radius: var(--radius-lg);\n            box-shadow: var(--shadow-lg);\n            overflow: hidden;\n        }\n\n        .header {\n            background: var(--gradient-primary);\n            color: var(--text-white);\n            padding: var(--spacing-xxl) var(--spacing-xxl) 30px;\n            position: relative;\n        }\n\n        .header::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            right: 0;\n            height: var(--border-thick);\n            background: var(--gradient-accent);\n        }\n\n        .header h1 {\n            font-size: var(--font-hero);\n            font-weight: 300;\n            margin-bottom: var(--spacing-sm);\n            letter-spacing: -0.5px;\n        }\n\n        .header .subtitle {\n            font-size: var(--font-lg);\n            opacity: 0.9;\n            font-weight: 300;\n        }\n\n        .content {\n            padding: var(--spacing-xxl);\n        }\n\n        .info-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: var(--spacing-lg);\n            margin-bottom: var(--spacing-xxl);\n            padding: var(--spacing-xl);\n            background: var(--bg-light);\n            border-radius: var(--radius-md);\n            border-left: var(--border-thick) solid var(--accent-blue);\n        }\n\n        .info-item {\n            text-align: center;\n        }\n\n        .info-label {\n            font-size: var(--font-sm);\n            color: var(--text-muted);\n            text-transform: uppercase;\n            letter-spacing: 1px;\n            margin-bottom: var(--spacing-xs);\n            font-weight: 600;\n        }\n\n        .info-value {\n            font-size: var(--font-xl);\n            font-weight: 600;\n            color: var(--text-primary);\n        }\n\n        .section {\n            margin-bottom: 35px;\n        }\n\n        .section h2 {\n            font-size: var(--font-xxl);\n            color: var(--text-primary);\n            margin-bottom: var(--spacing-md);\n            padding-bottom: var(--spacing-sm);\n            border-bottom: 2px solid var(--bg-lighter);\n            font-weight: 600;\n            position: relative;\n        }\n\n        .section h2::before {\n            content: '';\n            position: absolute;\n            bottom: -2px;\n            left: 0;\n            width: 50px;\n            height: 2px;\n            background: var(--accent-blue);\n        }\n\n        .section p {\n            font-size: var(--font-base);\n            line-height: 1.7;\n            color: var(--text-secondary);\n            text-align: justify;\n        }\n\n        .progress-container {\n            background: var(--bg-lighter);\n            border-radius: var(--radius-xl);\n            padding: var(--spacing-xs);\n            margin: var(--spacing-md) 0;\n        }\n\n        .progress-bar {\n            background: var(--gradient-progress);\n            height: var(--spacing-xl);\n            border-radius: var(--radius-lg);\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            color: var(--text-white);\n            font-weight: 600;\n            font-size: var(--font-sm);\n            transition: width var(--transition-normal);\n            width: var(--progress, 0%);\n            min-width: 60px;\n        }\n\n        .observations-grid {\n            display: grid;\n            gap: var(--spacing-lg);\n        }\n\n        .observation-card {\n            background: var(--bg-light);\n            padding: var(--spacing-lg);\n            border-radius: var(--radius-md);\n            border-left: var(--border-thick) solid var(--accent-blue);\n            transition: transform var(--transition-fast), box-shadow var(--transition-fast);\n        }\n\n        .observation-card:hover {\n            transform: translateY(-2px);\n            box-shadow: var(--shadow-md);\n        }\n\n        .observation-card.incidents {\n            border-left-color: var(--accent-red);\n        }\n\n        .observation-card h3 {\n            color: var(--text-primary);\n            font-size: var(--font-lg);\n            margin-bottom: var(--spacing-sm);\n            font-weight: 600;\n        }\n\n        .audio-section {\n            background: var(--gradient-audio);\n            color: var(--text-white);\n            padding: var(--spacing-lg);\n            border-radius: var(--radius-md);\n            margin: var(--spacing-lg) 0;\n            text-align: center;\n            box-shadow: var(--shadow-md);\n        }\n\n        .audio-section h3 {\n            margin-bottom: var(--spacing-sm);\n            font-weight: 600;\n        }\n\n        .footer {\n            background: var(--bg-lighter);\n            padding: var(--spacing-lg) var(--spacing-xxl);\n            text-align: center;\n            color: var(--text-muted);\n            font-size: var(--font-sm);\n            border-top: var(--border-width) solid #bdc3c7;\n        }\n\n        .status-badge {\n            display: inline-block;\n            padding: var(--spacing-xs) var(--spacing-md);\n            border-radius: var(--radius-lg);\n            font-size: var(--font-sm);\n            font-weight: 600;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n            transition: all var(--transition-fast);\n        }\n\n        .status-on-time {\n            background: var(--status-success-bg);\n            color: var(--status-success-text);\n        }\n\n        .status-delayed {\n            background: var(--status-warning-bg);\n            color: var(--status-warning-text);\n        }\n\n        .status-ahead {\n            background: var(--status-info-bg);\n            color: var(--status-info-text);\n        }\n\n        /* Tema oscuro (opcional) */\n        @media (prefers-color-scheme: dark) {\n            :root {\n                --text-primary: #ecf0f1;\n                --text-secondary: #bdc3c7;\n                --text-muted: #95a5a6;\n                --bg-white: #2c3e50;\n                --bg-light: #34495e;\n                --bg-lighter: #3b4a5c;\n            }\n        }\n\n        /* Responsive Design */\n        @media (max-width: 768px) {\n            :root {\n                --font-hero: 1.8em;\n                --spacing-xxl: 20px;\n                --spacing-xl: 15px;\n            }\n\n            body {\n                padding: var(--spacing-lg) var(--spacing-sm);\n            }\n            \n            .header, .content {\n                padding: var(--spacing-lg);\n            }\n            \n            .info-grid {\n                grid-template-columns: 1fr;\n                gap: var(--spacing-md);\n            }\n        }\n\n        @media (max-width: 480px) {\n            :root {\n                --font-hero: 1.6em;\n                --font-xl: 1.2em;\n            }\n        }\n\n        /* Print Styles */\n        @media print {\n            :root {\n                --shadow-lg: none;\n                --shadow-md: none;\n                --gradient-background: white;\n            }\n\n            body {\n                background: white;\n                padding: 0;\n            }\n            \n            .container {\n                box-shadow: none;\n                border-radius: 0;\n            }\n            \n            .header {\n                background: var(--primary-color) !important;\n                -webkit-print-color-adjust: exact;\n                color-adjust: exact;\n            }\n\n            .observation-card {\n                break-inside: avoid;\n            }\n        }\n\n        /* Animaciones */\n        @keyframes fadeIn {\n            from { opacity: 0; transform: translateY(20px); }\n            to { opacity: 1; transform: translateY(0); }\n        }\n\n        .section {\n            animation: fadeIn 0.6s ease-out;\n        }\n\n        /* Estados de progreso dinámicos */\n        .progress-bar[style*=\"width: 0\"] { background: var(--accent-red); }\n        .progress-bar[style*=\"width: 25\"], \n        .progress-bar[style*=\"width: 30\"], \n        .progress-bar[style*=\"width: 35\"] { background: var(--accent-orange); }\n        .progress-bar[style*=\"width: 50\"], \n        .progress-bar[style*=\"width: 60\"], \n        .progress-bar[style*=\"width: 70\"] { background: var(--accent-blue); }\n        .progress-bar[style*=\"width: 80\"], \n        .progress-bar[style*=\"width: 90\"], \n        .progress-bar[style*=\"width: 100\"] { background: var(--gradient-progress); }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>📋 Informe Semanal de Obra</h1>\n            <div class=\"subtitle\">{{ $('Webhook').item.json.body.projectName || 'Proyecto de Construcción'}}</div>\n        </div>\n\n        <div class=\"content\">\n            <div class=\"info-grid\">\n                <div class=\"info-item\">\n                    <div class=\"info-label\">Fecha del Informe</div>\n                    <div class=\"info-value\">{{ $('Webhook').item.json.body.date || 'DD/MM/AAAA'}}</div>\n                </div>\n                <div class=\"info-item\">\n                    <div class=\"info-label\">Avance General</div>\n                    <div class=\"info-value\"> {{ $('Webhook').item.json.body.advance || '0'}}%</div>\n                </div>\n                <div class=\"info-item\">\n                    <div class=\"info-label\">Estado</div>\n                    <div class=\"info-value\">\n                        <span class=\"status-badge status-on-time\">✅ En Plazo</span>\n                    </div>\n                </div>\n            </div>\n\n            <div class=\"section\">\n                <h2>📊 Progreso del Proyecto</h2>\n                <p>El avance actual del proyecto <strong>{{ $('Webhook').item.json.body.projectName }}</strong> se encuentra en un <strong>{{ $('Webhook').item.json.body.advance|| '0'}}%</strong> de completitud según el cronograma establecido.</p>\n                <div class=\"progress-container\">\n                    <div class=\"progress-bar\" style=\"--progress: {{ $('Webhook').item.json.body.advance || '0'}}%; width: {{ $('Webhook').item.json.body.advance }}'0'}}%;\">\n                        {{ $('Webhook').item.json.body.advance  || '0'}}%\n                    </div>\n                </div>\n                <p><em>Última actualización: {{ $('Webhook').item.json.body.date }}</em></p>\n            </div>\n\n            <div class=\"observations-grid\">\n                <div class=\"observation-card\">\n                    <h3>📝 Observaciones Generales</h3>\n                    <div class=\"section\">\n                        <p> {{ $json.choices[0].message.content.obs || 'No se han registrado observaciones para este período.'}}</p>\n                    </div>\n                </div>\n\n                <div class=\"observation-card incidents\">\n                    <h3>⚠️ Incidencias y Problemas</h3>\n                    <div class=\"section\">\n                        <p>{{ $('Webhook').item.json.body.incidences || 'No se han registrado incidencias durante este período.'}}</p>\n                    </div>\n                </div>\n            </div>\n\n            <!-- Sección de audio (condicional) -->\n            <div class=\"audio-section\">\n                <h3>🎙️ Observaciones</h3>\n                {{ $json.choices[0].message.content.obs }}\n      \n            </div>\n\n            <div class=\"section\">\n                <h2>📋 Resumen Ejecutivo</h2>\n                {{ $json.choices[0].message.content.summary }}           \n            </div>\n        </div>\n\n        <div class=\"footer\">\n            <p>📄 Documento generado automáticamente el {{ $('Webhook').item.json.body.date }} | Sistema de Informes de Obra v2.0 | Confidencial</p>\n        </div>\n    </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        340,
        580
      ],
      "id": "b481c8a1-becd-436b-b6e5-34ba2f371bf2",
      "name": "HTML2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html",
        "options": {
          "encoding": "utf8",
          "fileName": ""
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        560,
        300
      ],
      "id": "b0d31d05-e8a5-4470-b92c-48b191696520",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html",
        "options": {
          "encoding": "utf8",
          "fileName": ""
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        560,
        580
      ],
      "id": "6026f06d-551f-4c47-855b-ae9c01fc0b1c",
      "name": "Convert to File4"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=informe_obra- {{ $('Edit Fields1').item.json.projectName }}_{{ $('Edit Fields1').item.json.date }}.html",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1-a20nMEq0tgLzrIgDkhemrL4kZEEe3H8",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        780,
        300
      ],
      "id": "829a23cc-1e5a-42be-950d-1c38f43de575",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IRxDbNipgEofCE0P",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=informe_obra- {{ $('Edit Fields1').item.json.projectName }}_{{ $('Edit Fields1').item.json.date }}.html",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1-a20nMEq0tgLzrIgDkhemrL4kZEEe3H8",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        780,
        580
      ],
      "id": "71ee719f-a546-4b8c-805c-9c1f20ea1d0c",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "IRxDbNipgEofCE0P",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=📄Informe  {{ $('Webhook').item.json.body.projectName }} - {{ $('Webhook').item.json.body.date }}",
        "message": "=<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        background-color: #f4f6f8;\n        padding: 20px;\n        color: #333;\n      }\n      .container {\n        background-color: #ffffff;\n        border-radius: 8px;\n        padding: 20px;\n        border: 1px solid #ddd;\n        max-width: 600px;\n        margin: auto;\n      }\n      h2 {\n        color: #2c3e50;\n      }\n      p {\n        font-size: 16px;\n        line-height: 1.5;\n      }\n      .footer {\n        margin-top: 20px;\n        font-size: 12px;\n        color: #777;\n        text-align: center;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h2>📄 Informe {{ $('Webhook').item.json.body.projectName }} adjunto con fecha de {{ $('Webhook').item.json.body.date }}</h2>\n      <p>\n        Hola,<br /><br />\n        Aquí tiene el <strong>informe semanal de obra</strong>.\n        Ya se encuentra registrado en el sistema y estará disponible para revisión por parte del equipo técnico y dirección facultativa.\n        <br><p>Puedes acceder al informe desde este enlace:</p>\n        <p><a href=\"{{ $json.webContentLink }}\" target=\"_blank\">Ver informe en Google Drive</a></p>\n      </p>\n      <p>\n        Si necesitas hacer alguna modificación o enviar información adicional, no dudes en responder a este mensaje.\n      </p>\n      <p>Gracias por tu colaboración.</p>\n\n      <div class=\"footer\">\n        Este mensaje ha sido generado automáticamente por el sistema de informes de obra.\n      </div>\n    </div>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1000,
        300
      ],
      "id": "37105950-ae14-411d-b9ba-5ad42d76c49e",
      "name": "Gmail1",
      "webhookId": "99fd5e57-955a-4a90-8848-bd95a678e7f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "lSeLDCEb52CitKcx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=📄Informe  {{ $('Webhook').item.json.body.projectName }} - {{ $('Webhook').item.json.body.date }}",
        "message": "=<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        background-color: #f4f6f8;\n        padding: 20px;\n        color: #333;\n      }\n      .container {\n        background-color: #ffffff;\n        border-radius: 8px;\n        padding: 20px;\n        border: 1px solid #ddd;\n        max-width: 600px;\n        margin: auto;\n      }\n      h2 {\n        color: #2c3e50;\n      }\n      p {\n        font-size: 16px;\n        line-height: 1.5;\n      }\n      .footer {\n        margin-top: 20px;\n        font-size: 12px;\n        color: #777;\n        text-align: center;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h2>📄 Informe {{ $('Webhook').item.json.body.projectName }} adjunto con fecha de {{ $('Webhook').item.json.body.date }}</h2>\n      <p>\n        Hola,<br /><br />\n        Aquí tiene el <strong>informe semanal de obra</strong>.\n        Ya se encuentra registrado en el sistema y estará disponible para revisión por parte del equipo técnico y dirección facultativa.\n        <br><p>Puedes acceder al informe desde este enlace:</p>\n        <p><a href=\"{{ $json.webContentLink }}\" target=\"_blank\">Ver informe en Google Drive</a></p>\n      </p>\n      <p>\n        Si necesitas hacer alguna modificación o enviar información adicional, no dudes en responder a este mensaje.\n      </p>\n      <p>Gracias por tu colaboración.</p>\n\n      <div class=\"footer\">\n        Este mensaje ha sido generado automáticamente por el sistema de informes de obra.\n      </div>\n    </div>\n  </body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1000,
        580
      ],
      "id": "711b77c6-d3b9-4286-a13e-10b9f739e872",
      "name": "Gmail2",
      "webhookId": "99fd5e57-955a-4a90-8848-bd95a678e7f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "lSeLDCEb52CitKcx",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "HTML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML2": {
      "main": [
        [
          {
            "node": "Convert to File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File4": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f72e40c7-b22e-494c-94aa-e45f4a1b4061",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ffac97bb4a36135fbb0eb20a1be2bec6389d5a5ba663523ef0ca3b76ca08ebab"
  },
  "id": "apptV7kOCGxAVkzq",
  "tags": []
}